* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 400px;
  margin: 30px auto;
  border: 1px solid;
  border-radius: 20px;
  padding: 20px;
}

.header {
  margin: 10px;
  .header-text {
    text-align: center;
    margin-bottom: 50px;
  }
}

.incomeExpense {
  border-radius: 20px;
  margin: 30px 10px;
  display: flex;
  border: 1px solid;
  text-align: center;
  .income,
  .expense {
    padding: 20px;
    width: 100%;
  }
  .income .amount {
    color: green;
  }
  .expense .amount {
    color: red;
  }
}

.addTransaction {
  margin: 10px;
  hr {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .form {
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 7px;
    label {
      font-size: 20px;
    }
    .title,
    .amount {
      border-radius: 5px;
      border: 1px solid grey;
      height: 25px;
      padding: 5px;
    }
    button {
      padding: 5px;
      font-size: 15px;
    }

    .radio {
      display: flex;
      flex-direction: column;
      input {
        margin: 10px;
      }
    }
  }
}

.transactionList {
  margin: 30px 10px;
  hr {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    li {
      display: flex;
      border: 1px solid;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      border-radius: 10px;
      font-size: 20px;
      span {
        margin-left: 200px;
      }
    }

    button {
      padding: 5px;
    }
  }
}
